body{
    font-family:'Times New Roman', Times, serif;
}

ul{
    margin: 0;
    padding-left: 1em;
    padding-bottom: 0.2em;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.resume{
    border-radius: 10px;
    border: #000;
    box-shadow: 2px 2px 10px #000;
    width: 70%;
    margin: auto;
    height: 100vh;
}

.container-header{
    margin: auto 10em;
}

.container-body{
    margin: auto 8em;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
}

.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.info{
    margin: 0.5em 2em;
}

.body-left{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 65%;
    padding-right: 1em;
}

.body-right{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 35%;
    padding-left: 1em;
}

.body-titles{
    color: #4472C4;
    font-weight: bold;
    margin: 0.4em 0 0.4em 0;
}

.body-subtitle{
    font-weight: bold;
    margin-bottom: 0.5em;
}

.body-list{
    text-decoration: underline;
    padding-right: 0.3em;
    display: inline-block;
}

.body-div{
    width: 100%;
    padding: 0 0.5em 0 0.5em;
}

.body-div:hover{
    box-shadow: 2px 2px 10px #000;
    transform: translateY(-0.25em);
}

.link{
    text-decoration: none;
    color:#000;
}

#bio{
    text-align: center;
}

#date{
    margin-top: 0;
}

#cert{
    margin-top: 0;    
    padding-top: 0;
}

#game:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px #4472C4;
}

#padding{
    padding-bottom: 0.2em;
}

@media(max-width: 950px){
    .resume{
        height: 100%;
    }
} 
@media(max-width: 1300px){
    .resume{
        width: 100%;
    }
} 
@media(max-width: 1800px){
    .info{
        margin: 0.5em 0.4em;
    }
} 
@media(min-width: 1600px){
    .resume{
        width: 60%;
    }
} 
@media(min-width: 2000px){
    .resume{
        width: 50%;
    }
} 